gradle/
.gradle/
build/
src/main/java/smartquery/query/SqlParser*.java
src/main/java/smartquery/query/SqlParser*.tokens
src/main/java/smartquery/query/SqlParser*.interp
frontend/node_modules/
*.sh
.vscode/